# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ local configuration files
.idea
*.iml
*.ipr
*.iws

src/test/resources/testng.xml