body {
	background-image: url('coffee_backgr.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
}

a {
	color: black;
}

a:visited {
	color: black;
}

h1 {
	color: #915407;
	font-family: "Baguet Script", "Arial";
	font-size: 40px;
	text-shadow: 1px 1px 3px brown;
}

p {
	color: #915407;
	font-weight: bold;
	font-family: "Baguet Script";
	font-size: 25px;
}

th {
	font-weight: bold;
	font-family: "Baguet Script";
	font-size: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

table {
	margin-top: 10px;
	border-collapse: collapse;
	width: 100%;
	max-width: 400px;
}

table, th {
	border: none;
	text-align: center;
}