<!DOCTYPE suite SYSTEM "http://testng.org/testing-1.0.dtd">
<suite name="All Tests Suite">
    <test name="All Tests">
        <packages>
                <packages name="germans.JanisRozeHomeworkTest"/>
        </packages>
    </test>
    <listeners>
        <listener class-name="org.testng.reporters.TestHTMLReporter"/>
    </listeners>
</suite>