<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Login Test">
        <classes>
            <class name="germans.sauceDemo.tests.LoginTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.testng.reporters.TestHTMLReporter"/>
    </listeners>
    <parameter name="standard_user" value="standard_user"/>
    <parameter name="secret_sauce" value="secret_sauce"/>
</suite>