body {
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: top;
    position: relative;

  }

#book1Body {
    background-image: url('book1bkg.jpg');
  }

#book2Body {
    background-image: url('book2bkg7.jpeg');
  }

#book3Body {
    background-image: url('book3bkg.jpg');
  }

#book4Body {
    background-image: url('book4bkg.jpg');
  }


  
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }


.background0 {
    background-image: url('background2 copy 2.png');
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: top;
    position: relative;
    top: -5px;
}

.column {
    float: left;
    padding: 5px;
    position: relative;
    top: 380px;

    object-fit: scale-down;
}

.cover1 {
    width: 265px;
    height: 400px;
    border-radius: 0px 20px 20px 0px;

}


.cover2 {
    width: 265px;
    height: 400px;
    border-radius: 0px 20px 20px 0px;

}

.cover3 {
    width: 265px;
    height: 400px;
    border-radius: 0px 20px 20px 0px;

}

.cover4 {
    width: 265px;
    height: 400px;
    border-radius: 0px 20px 20px 0px;

}

.row {
    display: flex;
}
  

.andy2 {
    display: block;
    height: 200px;
    width: 175px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    top: 0px;
    left: 1150px;
    opacity: 0.6;
}

.book1Author {
    display: block;
    height: 133px;
    width: 133px;
    border-radius: 50%;
    position: absolute;
    top: 225px;
    right: 55px;
}

.book2Author {
    display: block;
    height: 175px;
    width: 200px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    top: 235px;
    right: 70px;
    opacity: 0.7;

}

.book3Author {
    display: block;
    height: 175px;
    width: 150px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    top: 235px;
    right: 70px;
    opacity: 0.7;
}

.book4Author {
    display: block;
    height: 150px;
    width: 140px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    top: 75px;
    right: 95px;
}

.Text__title0 {
    font-size: 5rem;
    line-height: 5rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    text-align: left;
    color: gold;
    opacity: 0.5;
}

.Text__title1 {
    font-size: 4.51rem;
    line-height: 2rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 300;
    text-align: left;
    color: black;
    letter-spacing: 0;
}

.Text__title2 {
    font-size: 7rem;
    line-height: 1rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 300;
    text-align: right;
    color: #3b2a23;
    letter-spacing: 50;
}

.Text__title3 {
    font-size: 6.5rem;
    line-height: 1rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 300;
    text-align: right;
    color: #3467cd;
    letter-spacing: 1.7;
}

.Text__title4 {
    font-size: 4.51rem;
    line-height: 2rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 300;
    text-align: left;
    color: rgb(176, 176, 176);
    letter-spacing: 55;
}

.byAuthor {
    font-size: 2.5rem;
    line-height: 5rem;
    font-weight: 300;
    color: #bb0f0f;
    font-family: "Handlee";
    text-align: left;

}

.byAuthor1 {
    font-size: 2.5rem;
    line-height: 6rem;
    font-weight: 300;
    color: #8f0a0a;
    text-align: left;

}

.byAuthor2 {
    font-size: 2rem;
    line-height: 8rem;
    font-weight: 300;
    color: #b2d2ef;
    font-family: "Handlee";
    text-align: right;
    position: relative;
    right: 4px;
    opacity: 0.75;
}

.byAuthor3 {
    font-size: 2.5rem;
    line-height: 5rem;
    font-weight: 300;
    color: #bb0f0f;
    font-family: "Handlee";
    text-align: left;

}

.byAuthor4 {
    font-size: 2.9rem;
    line-height: 5rem;
    font-weight: 300;
    color: #0fbbbb;
    font-family: "Handlee";
    text-align: left;

}

#video1 {
    display: block;
    height: 400px;
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    top: 112px;
    left: 670px;
}

p {
    color: bisque;
    text-align: justify;
    width: 1000px;
}



.andyP {
    display: block;
    width: 300px;
    position: absolute;
    top: 180px;
    left: 1100px;
    text-align: justify;
    color: #7b7060;
    font-size: 1.25rem;
    font-family: fantasy;
    line-height: 2rem;

}

.book1AboutAuthor {
    display: block;
    width: 300px;
    position: absolute;
    top: 380px;
    right: 55px;
    text-align: justify;
    color: #e9e8ea;
    font-size: 1.25rem;
    font-family: fantasy;
    line-height: 2rem;
}

.book2AboutAuthor {
    display: block;
    width: 300px;
    position: absolute;
    top: 410px;
    right: 0px;
    text-align: left;
    color: #C58940;
    font-size: 1.3rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    opacity: 0.75;
}

.book3AboutAuthor {
    display: block;
    width: 300px;
    position: absolute;
    top: 410px;
    right: 0px;
    text-align: left;
    color: #0E8388;
    font-size: 1.5rem;
    font-family: 'orbitron';
    font-weight: bolder;
}

.book4AboutAuthor {
    display: block;
    width: 300px;
    position: absolute;
    top: 260px;
    left: 1100px;
    text-align: justify;
    color: #0acdeb;
    font-size: 2rem;
    font-family: "handlee";
    line-height: 2rem;
}



.aboutBook {
    display: block;
    width: 650px;
    position: absolute;
    top: 160px;
    text-align: center;
    color: #c2b199;
    font-size: 2rem;
    font-family: "Handlee", sans-serif;
    line-height: 3.5rem;

}

.aboutBook1 {
    display: block;
    width: 550px;
    position: absolute;
    top: 175px;
    left: 500px;
    text-align: center;
    color: cyan;
    font-size: 2rem;
    font-family: Orbitron;
    line-height: 4rem;
    opacity: 0.75;

}

.book1aboutBookLeft {
    display: block;
    width: 1200px;
    position: absolute;
    top: 500px;
    left: 10px;
    text-align: left;
    color: #8EA7E9;
    font-size: 2.5rem;
    font-family: "Handlee";
    line-height: 5rem;
}

.book1links {
    /* text-decoration: none; */
    font-style: italic;
    color: #E3F6FF;
}

.book2links {
    font-style: italic;
    color: #E3F6FF;
}

.book3links {
    font-style: italic;
    color: #E3F6FF;
}

.book4links {
    font-style: italic;
    color: #E3F6FF;
}


.book2aboutBookLeft {
    display: block;
    width: 1050px;
    position: absolute;
    top: 590px;
    left: 10px;
    text-align: justify;
    color: #b2d2ef;
    font-size: 2.5rem;
    font-family: "Handlee";
    line-height: 2.25rem;
    font-weight: bolder;
    opacity: 0.75;
}

.aboutBook3 {
    display: block;
    width: 1050px;
    position: absolute;
    top: 590px;
    left: 10px;
    text-align: justify;
    color: #bddfff;
    font-size: 2.2rem;
    font-family: "Handlee";
    line-height: 2.25rem;
    font-weight: bolder;

}

.aboutBook4 {
    display: block;
    width: 1050px;
    position: absolute;
    top: 590px;
    left: 10px;
    text-align: justify;
    color: #bddfff;
    font-size: 2.2rem;
    font-family: "Handlee";
    line-height: 2.25rem;
    font-weight: bolder;

}

.footer_image {
    display: block;
    height: 150px;
    width: 100%;
    position: absolute;
    top: 660px;
}

.gr {
    height: 50px;
    width: 50px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    top: 10px;
    left: 0px;
}


.hugo_award {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    top: 65px;
    left: 210px;
}

.usa_today {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    top: 175px;
    left: 424px;
}

.washington_post {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    top: 285px;
    left: 476px;
}


.hm {
    font-size: 4rem;
    line-height: 4.6rem;
    font-family: "Handlee";
    font-weight: 600;
    text-align: center;
    color: rgb(232, 182, 182);
    opacity: 0.5;
    top: 350px;
    position: relative;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0.6;
  }

  .book3navUl {
    opacity: 1;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
    font-size: 1.25rem;
    line-height: 0.25rem;

  }
  
  li a:hover {
    background-color: #454343;
  }

  .active{
    background-color: #1f6e51;
  }

  .activebook3{
    background-color: #1f6e51;
  }

  .activebook4{
    background-color: #1f6e51;
  }

  table {
    position: relative;
    width: 100%;
    top: 0px;
  }

  .book3nav {
    color: white;
    font-size: 1.75rem;    
}

.book4nav {
    color: rgb(247, 244, 244);
    font-size:1.9rem;
    font-weight: bolder;   
}
  