			html {
				background-color:black;
			}
			body {
				background-image: url(https://gamerwall.pro/uploads/posts/2021-11/1635902223_3-gamerwall-pro-p-krasivie-zastavki-kosmos-krasivie-3.jpg);
				background-position:center center;
				background-repeat: no-repeat;
				background-size: cover;
			}				
			table, tr, td, th {
				border-collapse:collapse;
				border: 0px solid white;
				color:#FFFAF0;
			}
			th {
				text-align:center;
			}
			h1 {
				text-align:center;
				text-shadow: 1px 1px 3px Black;
			}
			h2 {
				text-align:center;
				font-size:10px;
			}
			a {
				color:white;
			}
