h1 { 
	text-align : center ;
	font-family:Snap ITC;
	color:#FFFFFF; 
}
body {
	background-size: 100%;
}
td.desc {
	color:#FFFFFF;
	text-align:center;
	height:20px;
}
a {
	color:#FF6347;
	font-family:Jokerman;
	text-align:center;
	font-size:30;
}
td {
	text-align:center;
}
td.two {
	font-family:Old English Text MT;
	color:#FFFFFF;
	font-size:75;
	text-align:center;
}
img.main {
	width:700px;
	height:500px;
}
img.main2 {
	width:500px;
	height:700px;
}
img.logo {
	width:200px;
	height:200px;
}
tr.mini {
	height:50px;
}
a.back{
	text-align : center ;
	font-family:Snap ITC;
	color:#808080; 
}