<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Tests Suite">
    <test name="All Tests">
        <classes>
            <class name="marijaplumite2.HmwrkJanisRozeUserLoginTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.testng.reporters.TestHTMLReporter"/>
    </listeners>
</suite>
